.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 84%;
}

.tempButton:active {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


// .tempButton {
//   position: relative;
//   display: flex;
//   height: 80%;
//   aspect-ratio: 1;
//   color: rgb(91,91,91);
// }

.roSection {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 4%;
  margin-left: 2%;
  margin-right: 2%;
  // background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  // box-shadow: 2px 0px 2px 2px rgba(168, 164, 164, 0.2);
}

.rwSection {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 96%;
  height: 10%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #ffffff;
  border-radius: 16px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0px 2px 2px rgba(168, 164, 164, 0.2);
}

.powerIconOn {
  box-shadow: 0px 0px 14px 4px rgba(41, 91, 221, 0.2);
}

.powerIconOn:active {
  box-shadow: 0px 0px 14px 8px rgba(41, 91, 221, 0.2);
}

.powerIconOff:active {
  box-shadow: 0px 0px 14px 8px rgba(102, 102, 102, 0.2);
}

.powerIconOff {
  box-shadow: 0px 0px 14px 4px rgba(102, 102, 102, 0.2);
}

.sectionItem {
  position: relative;
  display: flex;
  flex: 1;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  position: relative;
  display: flex;
  flex: 1;
  // padding-top: 1%;
  // padding-bottom: 1%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reportIcon {
  position: relative;
  display: flex;
  padding-right: 15px;
}

.sectionItemTitle {
  color: #a7a7a7;
  font-size: small;
  text-align: center;
}

.sectionItemTitleRO {
  color: #a7a7a7;
  font-size: small;
  text-align: center;
}
.sectionItemContentROWaterFlow {
  color: #a7a7a7;
  font-size: 20px;
  text-align: center;
  margin-left: 3%;
}


.sectionItemContentRO {
  color: #a7a7a7;
  font-size: 20px;
  text-align: center;
}

.sectionItemContent {
  color: #666666;
  font-size: 28px;
  text-align: center;
}
// .sectionItemContent:active {
//   font-weight: bold;
// }

.tempUnitSplit {
  display: flex;
  position: absolute;

}

.sectionItemUsageReport {
  color: #666666;
  font-size: 28px;
  text-align: center;
}

.sectionItemUsageReport:active {
  font-weight: bold;
}

.sectionItemStyle {
  display: flex;
  position: relative;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sectionItemStyle:active .sectionItemContent {
  font-weight: bold;
}

.sectionItemForUsageReport {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

