.chart {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.Stats {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
}